body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: red;
}

h3 {
  color: coral;
}

header {
  background-color: crimson;
  width: 100%;
}

footer {
  background-color: darkblue;
  width: 100%;
}