<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for(let i = 0; i < movies.length; i++) { %>
     <li><h3><a href="/movies/detail/<%= movies[i].id%> "><%= movies[i].title%></a></h3></li> 
     <p><%= movies[i].rating%></p>
    <%}%>
  </body>
</html>